<!DOCTYPE html>
<html>
<head>
	<title>Bee Queen</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/Style.css">
</head>
<body>
<!-- Header Content -->
	<div class="upper-container">
		<div class="logo"></div>
		<nav class="nav-bar">
			<a href="#about-section">About us</a>
			<a href="#services-section">Services</a>
			<a href="#contact-section">Contact us</a>
		</nav>
	</div>
	<div class="container">
		<!-- Main Content of the website -->
		<section id="about-section">
			<h1>Who are we?</h1>
			<!-- Who we are us as a company -->
			<p class="introduction"> We are a small  local cleaning business located on the northeast part of Calgary. We have been in this business since 2008. We are registered and insured, and have virtually been through all cleaning obstacles and circumvented them. We are honest, reliable, and take extreme pride in the work that we do. We have clients who have been with us since the beginning. Give us a chance and we promise we will not disappoint! 
			</p>	
		</section>
		<!-- Services -->
		<section id="services-section">
			<h2>Services</h2>
			<p>We believe cleaning is not a necessity, but a luxury, hence, prices are firm. We charge <mark>$55 per hour</mark>, along with any additional cleaning services requested. We practically do everything pertaining to house and office services, from move outs and move ins, once or twice a month, to weekly cleanings, which includes: 
			</p>
			<div class="includes">
				<div class="service-picture" style="background: url('uploads/bathroom.jpg') transparent no-repeat center center /  cover;">
					<div class="service">Bathrooms</div>
				</div>
				<div class="service-picture" style="background: url('uploads/kitchen.jpg') transparent no-repeat center center /  cover;">
					<div class="service">Kitchens</div>
				</div>
				<div class="service-picture" style="background: url('uploads/base-rails.jpg') transparent no-repeat center center /  cover;">
					<div class="service">Baseboards and Blinds</div>
				</div>
				<div class="service-picture" style="background: url('uploads/tables.jpg') transparent no-repeat center center /  cover;">
					<div class="service">Appliances</div>
				</div>
				<div class="service-picture" style="background: url('uploads/vacuuming.jpg') transparent no-repeat center center /  cover;">
					<div class="service">Vacuuming</div>
				</div>
				<div class="service-picture" style="background: url('uploads/countertops.jpg') transparent no-repeat center center /  cover;">
					<div class="service">Countertops</div>
				</div>
			</div>
		<p>If you need any additional cleaning services, such as loading dish washers or drying machines, done, please don’t hesitate to request it. We are also crazy animal lovers; we love all animals
		</p>
		<!-- Cat photo might be COPYRIGHTED! Be careful! -->
		<div id="cat-photo" style="background: url('https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y3V0ZSUyMGNhdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80') transparent no-repeat center center /  cover;">
			<div class="service">Especially Cats</div>
		</div>

		<p> and often donate to animal shelters. We will let out your pets while we clean, and if requested, we can also feed them and clean up after them.
		</p>
		<!-- Come back to this (We are available any day except for Saturday.)-->
		<p>Although we expect you to be in posession of at least one vacuum cleaner, we will provide paper towels, cloths and necessary cleaning chemicals-we attempt to utilize many natural products as much as we can through the aid of Melaleuca products.
		</p>
		</section>

		<!-- Contact us -->
		<section id="contact-section">
			<h1>Lets connect</h1>
			<p>We are open every day of the week, <mark>except for Saturdays</mark>. We would love to hear from you. Send us a message us here</p> 
				<form id="contact-form" action="/" method="post">
				<label for="fullname" class="required-field">Full name</label><br>
				<input type="text" placeholder="Full Name" name="fullname" id="fullname" required><br>
				<label for="email" class="required-field">Email</label><br>
				<input type="email" placeholder="Email" name="email" id="email" required><br>
				<label for="phone">Phone</label><br>
				<input type="text" placeholder="(###)-###-####" name="phone" id="phone"><br>
				<label for="message" class="required-field">Message</label><br>
				<textarea style="resize:none;"id="message" name="message" rows="4" cols="50" required></textarea><br>
				<input type="submit" name="Submit" id="submit">
			</form>
			<p>Call or message us at <mark>403-690-1407</mark>; or email us at <mark>bqueenathome@yahoo.ca</mark>. We are excited to hear from you! 
			</p>
		</section>
	</div>
</body>
</html>